
## Test & Development ##
dataportal.url=http://localhost:8080/ianus-access
home.url=http://localhost:8080/ianus-ingest-web
#home.url=http://ianus-testing.dainst.de:8080/ianus-ingest-web
content.path=/data/ianus-storage
debug.mode=true



## Production Configuration ##
dataportal.url=http://datenportal.ianus-fdz.de
home.url=http://datenportal.ianus-fdz.de/ianus-ingest-web
#content.path=/data/ianus-storage
#debug.mode=true
