target
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings
.DS_Store
*~
~*
hibernate.cfg.xml
camunda.cfg.xml
persistence.xml
!modules/ianus-ingest-core/src/test/resources/META-INF/persistence.xml
ianus.properties
*.log
*.log.*
/start_app.bat
/mvn_clean_install.bat

*.css.map
modules/ianus-access/src/main/webapp/resources/css/*.css
!modules/ianus-access/src/main/webapp/resources/css/styles.css
.sass-cache/

modules/ianus-ingest-core/src/test/resources/fixtures/dip_storage/dip_ID/web_derivatives/

ianus-access.properties
ianus-ingest-web.properties

modules/ianus-xml/bin/
modules/ianus-xml/src/test/resources/mets.xml

de.ianus.metadata.bo.resource.Publication
write.lock


modules/ianus-ingest-web/script/*
!modules/ianus-ingest-web/script/ingest_deployment.template

modules/ianus-access/script/*
!modules/ianus-access/script/access_deployment.template
