

#collectionView {
	margin-top: 4em;
	
	p {
		span {
			color: black;
		}
	}
	
	
	/* left column contents */
	.item {
		@include clearfix;
		margin-bottom: 2em;
		
		// logo with text
		.image-link img {
			display: block;
			float: left;
			padding-right: 16px;
		    width: 28%;
		    max-width: 80px;
		}
	    .details{
	       float: left;
	       max-width: 65%;
	    }
		.map {
			height: 340px;
		}
	}
	
	.license {
		img {
			height: 4em;
		}
	    a {
	        line-height: 2.0em;
	    }
	}

	.citation {
		img{
            margin: 0 1em 1.7em 0;
            display: inline-block;
            width: 1.125em;
            height: 0.9375em;
        }
	    p {
	        display: inline-block;
	    }
	}
	
	
	
	/* file browser tab */
	#fileTree {
	    //max-height: 90vh;
	    border: solid 1px #bbb;
	    overflow: auto;
	    padding: 5px;
	    margin:0px auto 3em auto; 
	    background:white; 
	    border-radius:0px;
	    
	    ul.jstree-container-ul > li.jstree-node {
	    	margin-left: 0;
	    }
	}
	
 	#fileList {
 		.fileItem{
	 		@include clearfix;
	 		border-bottom: 1px solid #bbb;
	 		margin-bottom: 16px;
	 		padding-bottom: 16px;
	 		
	 		table {
	 			width: 100%;
	 			table-layout: fixed; 
	 			td {
	 				vertical-align: top;
	 				&.left {
	 					vertical-align: center;
	 					text-align: center;
	 					width: 116px;
	 					height: 100px;
			 			padding-right: 16px;
				 		
				 		a:hover { background-color: transparent; }
				 		img {
				 			max-height: 100px;
				 			max-width: 100px;
				 		}
	 				}
	 			}
	 		}
	 		
	 		.center {
	 			padding-top: 2px;
	 			word-wrap:break-word
	 		}
	 		.right {
	 			width: 100px;
	 			padding-left: 16px;
	 		}
	 	}
	}
	
	
	
}


