/* IANUS Colors */

$dark-blue: #164194; /*DAI-Blau*/
$light-blue: #7b9de0;	/* link:hover background color on ianus-fdz */
$gray-blue: #516894;

$black: #000;
$white: #fff;
$light-gray: #c8cdd0; /* DAI-grau */
$mid-gray: #555;
$dark-gray: #7f8385;
$shadow-gray: #888;

$font-color: $mid-gray;
$link-color: $dark-blue;